/* CSS Template for Questboard website:
Altered for :QuestForm.html

Created by James Kevin D Aleman */

body {
	margin: 0 auto;
	padding: 0;
	background-color:#fdfdfb;
	font-family: helvetica, arial, sans-serif
}
h1, h2, h3, h4 {
	text-transform: uppercase;
}

/* top of page navigation and logo */

#header {
	background-color: #fe5f55;
	color:#ffffff;
	height: 60px;
	margin-top:-32.5px;
	font-family:haettenschweiler;
	letter-spacing: 3px;
	font-size: 1.5em;
}
#header h1 {
	padding-top: 5px;
	text-transform: uppercase;
}
#header img {
	float:left;
	display: block;
	width:50px;
	height:50px;
	margin-left: 75px;
	margin-right:10px;
	margin-top:3px;
	padding: 1px;
	border:1px solid black;
	border-radius: 4px;
}

/* top & bottom navigation */

#topnav {
	overflow: hidden;
	padding-left: 10px;
	padding-right: 5px;
	background-color: #7895b4;
}
#topnav a {
	float:left;
	display: block;
	color: #fefbf0;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.5em;
	font-family: haettenschweiler;
}
#topnav a:hover {
	background-color:#fdfdfb;
	color: #052241;
}
#topnav a.active {
	background-color: #fdfdfb;
	color: #052241;
}
#topnav input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
}
@media screen and (max-width: 600px) {
	#topnav a, #topnav input[type=text] {
		float: none;
		display: block;
		text-align: left;
		width:100%;
		margin:0;
		padding:14px;
	}
	#topnav input[type=text] {
		border: 1px solid #ccc;
	}
}
#topnav, #bottomnav,#main-container { /*sets size and centers content*/
	margin: 0 auto;
	width: 960px;
}
/*Main body content styling*/
#main-container {
	overflow: auto;
	height: 100%;
}
#bottomnav a{
	text-decoration: none;
}
.feature {
	border: 1px solid black;
	width:940px;
	height:300px;
	margin:10px;
}
fieldset img {
	width: 300px;
	height: 300px;
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}
.contentbox {
	width: 700px;
	height: 1100px;
	margin: 10px;
	float: left;
	overflow: hidden;
}
.contentbox .icon {
	float: left;
	width:100px;
	height:100px;
	padding-right: 25px;
	padding-left: 25px;
}
.contentbox p {
	padding-bottom: 40px;
	border-bottom:1px solid black;
}
.Right-sidebar {
	width:220px;
	margin:10px;
	float:right;
}
.Right-sidebar li {
	padding-bottom: 15px;
}

/* Form CSS */

#questform h4 {
	margin-top: 5px;
	margin-bottom: 10px;
}
input[type=text], textarea, select {
	width:300px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 4px;
}
textarea {
	resize: none;